/* color palette from <https://github.com/vuejs/theme> */


body {
  min-height: 100vh;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
};

:root {
  --primary_color: #8cb63d;
  --secondary_color: #f3f3f3;
  --dark_color: #000;
  --white_color: #fff;
  --dark_gray_color: darkgrey;
  --primary_color_Hover: #72962f;
  --dark_black_Color:  #333;
  --main_bg_color: #f7f7f8;
  --nav-color: #404040;
  --icon-bg: #f6f5fa;
  /* test */
}